
/*------Universal Formatting */
body{
    background: hwb(188 12% 58%);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

h1{
    background: hwb(188 12% 58%);
    color: white;
    text-align:center;

}
h2{
    color: white;
    text-align:center;
}

h3{
    color: black;
    margin: 0;
   
}

h4{
    background: white;
    color: black;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}


button{
    border-color: black;
    border-radius: 8px;
    background-color: gray;
    color: white; 
}
header{
    /*border: 5px solid black; */
    background: hwb(188 12% 58%);
    color: white;
    padding: 0;
}

section{
    /*float:inline-end;*/
    background: white;
    border-radius: 10%;
    width: 220px;
    height: auto;
    padding: 20px 20px 0px 40px;
    display: flex;
    flex-direction: row;
    margin: 5px;
   

}
footer{
    
    background: black;
    min-height: 20vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    padding: 0;
    margin-top: 100px;
}

div{
    background:hwb(188 12% 58%);
    margin: auto;
    width: 80%; 
    text-align: center;
}


/* ~~~~~~~~~ Navigation/ Header ~~~~~~~~~ */
#navigation_container{
    /*border: 5px solid black; */
    text-align: center;
    width: 100%;
 }

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: orange;
  }
  
  /* mouse over link */
  a:hover {
    color: lightgreen;
  }
  
  /* selected link */
  a:active {
    color: green;
    text-decoration: underline;
  }




.logo{
    /*border: 5px solid black; */
    position: absolute;
    margin: 0;
    width: auto;
    height: auto;
}

#logo_img{
    margin-top: 5px;
    margin-left: 5px;
    width: 180px;
    height: 180px;
}

/*-------Home Page -------*/
.banner_container{
    position: relative;
    background-image: url('TCbanner5.png');
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
    height: 450px;
    background-color:black;
    font-size: 25px;
    color: black;
    text-align: center; 
    margin-top: 0%;  

}


@keyframes get_a_quote{
    50% {transform: rotateY(360deg);}
    from {background-color: #aa6804;}
    to {background-color: rgb(4, 102, 131);}
}

/*~~~~~ Commercial Service List ~~~~~~*/
.commercial_service_list{      /*container*/
    text-align: center; 
    font-size: 14px;
    width: 100%;
}
/*~~~~~~ Quote ~~~~~*/

.quote{
    text-align: center;  
}



.quote_button {
    display: inline-block;
    padding: 2px 15px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    /*background-color: #2b2d2d;*/
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #3b3b3b;
    animation-name: get_a_quote;    
    animation-duration: 4s;
  }

  .quote_button:hover {background-color: #033a47}

  .quote_button:active {
    background-color: #06305c;
    box-shadow: 0 2px #6666;
    transform: translateY(4px);
  }


ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 10px;
}


/*~~~~~~~~~~~~ Service List~~~~~~~~ */
.residential_service_list{      /*container*/
    text-align: center; 
    width: 100%;
}


div#bc_i.service_item_img{
    display: none;
}

#bc.service_item:hover{
    color: red;
}

div#dc_i.service_item_img{
    display: none; 
}

#dc.service_item:hover{
    color: red;
}

div#mc_i.service_item_img{
    display: none; 
}

#mc.service_item:hover{
    color: red;
}

div#ao_i.service_item_img{
    display: none; 
}

#ao.service_item:hover{
    color: red;
}
section#bc.service_item:hover + div#bc_i.service_item_img{
    display:block;
}


/* ----About Us Pages -----*/

#aboutUs_container{
    background-color: white;
    position: relative;
    width: 80%;
    /*border: 5px solid black; */
    height: 59%; 
    justify-content: center;
    

}

#team_text{
    /*position: relative;*/
    float: right;
    flex: auto;
    /*border: 5px solid black; */
    text-align: justify;
    width: 60%;
    max-width: 100%;    
    margin: 10% 10% 0px 0px;    
    
}


#team_container{
    float: left;
    /*border: 5px solid black; */
    width: 24%;
    height: auto;
}


#team{  
    width: 100%;
    padding: 0px;

}

/* ----Locations Pages -----*/
#locations_container{
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
    
}

#locations{
    position:relative;
    width: min-content;
    min-width: 400px;
    height: auto;
    margin: 0px 0px 0px 10px;

}

#locationList_container table{
    display: flex; 
    justify-content: center;
}

#locationList_container table tr td{
    width:150px;
    padding:5px
}


/* ----Reviews Pages -----*/



#reviews_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65%;
    margin: 0% 10% 0% 2%;
}

#reviews_img{
    flex: auto;
    width: 65%;
    padding: 10px;

}

#reviews_img,
html,
body {
    height: 100%;
    
}